<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Create AGOL Thumbnails</Name><AddInID>{3205a2bd-3472-4668-91ff-e25c67b770e5}</AddInID><Description>Tool to create a standardized thumbnail for AGOL organizations.</Description><Version>0.1</Version><Image>Images\img.png</Image><Author>Shad Campbell</Author><Company /><Date>03/20/2014</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="AGOLCreateThumbnails_addin.py" namespace="AGOLThumbnails_addin"><ArcCatalog>
    <Commands>
        <Button caption="Create an AGOL Thumbnail" category="Create AGOL Thumbnails" class="thumbnail_button" id="AGOLThumbnails_addin.thumbnail_button" message="Create a standardized AGOL Thumbnail for your organization" tip="Create Thumbnail"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="AGOL Thumbnails" category="Create AGOL Thumbnails" id="AGOLThumbnails_addin.thumbnail_toolbar" showInitially="true"><Items><Button refID="AGOLThumbnails_addin.thumbnail_button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcCatalog></AddIn></ESRI.Configuration>